<h3>スケジュール一覧</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div>
  <%= link_to "日付順に並べる", "/sort_by_date" %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>スケジュール更新日時</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.start.to_s(:datetime_jp) %></td>
        <td><%= schedule.end.to_s(:datetime_jp) %></td>
        <td>
          <% if schedule.allday %>
            ○
          <% end %>
        </td>
        <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "確認", schedule %></td>
        <td><%= link_to "編集", [:edit,schedule] %></td>
        <td><%= button_to "削除", schedule, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "スケジュール新規登録",:new_schedule %></p>

<footer>
  <h1>スケジュール合計:<%= @schedules.count %></h1>
</footer>
