<h3>スケジュール新規作成</h3>

<%= render "shared/error", obj:@schedule %>

  <%= form_with model:@schedule,local:true do |f| %>
  <table>
    <tr>
      <th><%= f.label :title,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :start,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>

    <tr>
      <th><%= f.label :end,"終了日" %></th>
      <td><%= f.date_field :end %></td>
    </tr>

    <tr>
      <th><%= f.label :allday,"終日" %></th>
      <td>
        <%= f.check_box :allday %>
        <p style="margin:0;">終日の場合はチェックを入れます</p>
      </td>
    </tr>

    <tr>
      <th><%= f.label :content,"スケジュールメモ" %></th>
      <td><%= f.text_area :content %></td>
    </tr>
</table>

<div>
  <ul>
    <li><%= f.submit "登録完了する" %></li>
    <li><%= link_to "スケジュール一覧に戻る",:schedules %></li>
  </ul>
</div>
<% end %>
