<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>

  <tr>
    <th>開始日</th>
    <td><%= @schedule.start.to_s(:datetime_jp) %></td>
  </tr>

  <tr>
    <th>投稿日時</th>
    <td><%= @schedule.created_at.to_s(:datetime_jp) %></td>
  </tr>

  <tr>
    <th>終日</th>
    <td>
      <% if @schedule.allday %>
        ○
      <% end %>
    </td>
  </tr>

  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.content %></td>
  </tr>
</table>

<p><%= link_to "スケジュール一覧に戻る", :schedules %></p>
<p><%= link_to "スケジュールを編集する", [:edit,@schedule] %></p>
<p><%= button_to "スケジュールを削除", schedule_path, method: :delete %></p>
